<div class="card" (click)="goToDetail()" [ngClass]="{'user-response': userId === responseUserId}">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span [ngClass]="{'text-white': userId === responseUserId}">{{ responseUserName }}</span>
    </div>
    <div class="card-body">
        <p>Resposta criada em: {{ responseCreatedAtDate | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
        <div *ngIf="responseUpdatedAt !== null && responseUpdatedAt !== undefined">
            <p>Resposta editada em: {{ responseUpdatedAtDate | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
        </div>
    </div>
</div>
