<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
</div>

<div class="card-header d-flex justify-content-between align-items-center">
    <h2 class="m-0">Detalhes da Turma</h2>
    <div *ngIf="userIsCreator; else nonCreatorButtons">
        <button class="btn btn-danger" (click)="deleteClass()">Deletar</button>
        <button class="btn btn-primary" (click)="editClass()">Editar</button>
    </div>
    <ng-template #nonCreatorButtons>
        <button class="btn btn-secondary" (click)="leaveClass()">Sair da Turma</button>
    </ng-template>
</div>
<div class="card-body" *ngIf="classToDetail">
    <p><strong>ID:</strong> {{ classToDetail.classId }}</p>
    <p><strong>Nome:</strong> {{ classToDetail.className }}</p>
    <p><strong>Seção:</strong> {{ classToDetail.classSection }}</p>
    <p><strong>Sala:</strong> {{ classToDetail.classRoom }}</p>
    <p><strong>Disciplina:</strong> {{ classToDetail.classDiscipline }}</p>
    <p><strong>Criador:</strong> {{ classToDetail.classCreator?.userName }}</p>
    <p><strong>Membros:</strong></p>
    <ul>
        <li *ngFor="let member of classToDetail.classMembers">{{ member }}</li>
    </ul>
</div>
