<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
</div>

<div class="card-header d-flex justify-content-between align-items-center">
    <button class="btn btn-secondary" (click)="goBack()">Voltar</button>
    <h2 class="m-0">Detalhes da Turma</h2>
    <div *ngIf="userIsCreator; else nonCreatorButtons">
        <button class="btn btn-primary" (click)="openUpdateClassForm()">Editar</button>
        <button class="btn btn-danger" (click)="openDeleteClassDialog()">Deletar</button>
    </div>
    <ng-template #nonCreatorButtons>
        <button class="btn btn-secondary" (click)="openLeaveClassDialog()">Sair da Turma</button>
    </ng-template>
</div>

<div class="card-body" *ngIf="classToDetail">
    <mat-tab-group>
        <mat-tab label="Mural">
            <gc-data-class-component
                [classData]="classToDetail"
            ></gc-data-class-component>
            <gc-overview-warning-page
                [classId]="classToDetail.classId"
            ></gc-overview-warning-page>
        </mat-tab>
        <mat-tab label="Atividades">
            <!-- Conteúdo das Atividades aqui -->
            <p>Conteúdo das Atividades...</p>
        </mat-tab>
        <mat-tab label="Pessoas">
            <!-- Conteúdo de Pessoas aqui -->
            <p>Conteúdo de Pessoas...</p>
        </mat-tab>
    </mat-tab-group>
</div>
