<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p><strong>ID:</strong> {{ classData?.classId }}</p>
        </div>
        <div class="col-md-6">
            <p><strong>Nome:</strong> {{ classData?.className }}</p>
            <p><strong>Seção:</strong> {{ classData?.classSection }}</p>
            <p><strong>Sala:</strong> {{ classData?.classRoom }}</p>
            <p><strong>Disciplina:</strong> {{ classData?.classDiscipline }}</p>
            <p><strong>Criador:</strong> {{ classData?.classCreator?.userName }}</p>
        </div>
    </div>
</div>
