<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
</div>

<div class="card-header">
    <h2>Editar Resposta</h2>
</div>
<div class="card-body">
    <form [formGroup]="updateResponseActivityForm" (ngSubmit)="onSubmit()" ngNoForm>
        <div class="mb-3">
            <label for="responseText" class="form-label">Resposta:</label>
            <input type="text" class="form-control" id="responseText" placeholder="Digite a resposta da atividade" formControlName="responseText" ngDefaultControl required>
        </div>   
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" (click)="closeForm()">Fechar</button>
            <button type="submit" class="btn btn-primary">Editar Resposta</button>
        </div>
    </form>
</div>
