<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
</div>

<div class="card-header">
    <h2>Editar Aviso</h2>
</div>
<div class="card-body">
    <form [formGroup]="updateActivityForm" (ngSubmit)="onSubmit()" ngNoForm>
        <div class="mb-3">
            <label for="message" class="form-label">Mensagem:</label>
            <input type="text" class="form-control" id="message" placeholder="Digite a mensagem do aviso" formControlName="message" ngDefaultControl required>
        </div>   
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" (click)="closeForm()">Fechar</button>
            <button type="submit" class="btn btn-primary">Editar Aviso</button>
        </div>
    </form>
</div>
